<form action="/client/create" class="form-control" method="POST">
    <input name="NombreCliente" placeholder="Nombre" type="text">
    <input name="ApellidoCliente" placeholder="Apellido" type="text">
    <input name="FechaNacCliente" placeholder="Fecha" type="date">
    <input name="PesoCliente" step="0.01" placeholder="Peso" type="number">
    <input name="AlturaCliente" step="0.01" placeholder="Altura" type="number">
    <input name="DomicilioCliente" placeholder="Domicilio" type="text">
    <input name="CodPostal" placeholder="CodPostal" type="number">
    <input name="Movil01Cliente" placeholder="Movil" type="number">
    <input name="Movil02Cliente" placeholder="Movil" type="number">
    <input name="EmailCliente" placeholder="Email" type="email">


    <input type="submit">
</form>