<h1>Welcome to {{title}}</h1>

<a href="/client/create">CREATE</a>
<a href="/client/read">READ</a>
<a href="/client/update">UPDATE</a>
<a href="/client/delete">DELETE</a>

<br>
<h2>Querys</h2>
<a href="/query/a">Query A</a>
<a href="/query/b">Query B</a>
<a href="/query/c">Query C</a>
<a href="/query/d">Query D</a>
<a href="/query/e">Query E</a>
<a href="/query/f">Query F</a>
<a href="/query/g">Query G</a>
<a href="/query/h">Query H</a>
